@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    text-decoration: none;
}

button {
    padding: 12px 24px;
    background-color: #E5F0B6;
    border: none;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn-tag-price {
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    padding: 8px 16px;
    border-radius: 12px;
    font-size: 24px;
}

header .nav-button i {
    background-color: #2F241F;
    padding: 12px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    color: black;
}

.nav-button .cta {
    font-size: 16px;
    font-weight: 500;
    margin-right: 16px;
}

/* ----------HERO---------- */

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.hero-content {
    width: 1440px;
    padding: 142px;
}

.hero-content button {
    font-size: 24px;
    font-weight: 400;
    color: #553B33;
    padding: 22px 45px;
}

.hero-content .btn-white {
    background-color: #fff;
    border: 1px solid #2F241F;
    margin-left: 24px;
}

.hero-title {
    font-size: 72px;
    font-weight: 800;
    color: #2F241F;
    margin-bottom: 20px;
}

.hero-title .change-color {
    color: #817253;
}

.hero-image {
    width: 40%;
    height: 100%;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-image {
    width: 40%;
    height: 100%;
    position: relative;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 50px 100px;
    color: #fff;
    z-index: 2;
    width: 100%;
}


.image-text .btn-brown {
    background-color: #2F241F;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    padding: 16px 24px;
    margin-top: 16px;
}

.image-text h2 {
    font-weight: 400;
    font-size: 64px;
    margin-top: 8px;
}

/* ----------CHOOSE---------- */

.choose {
    background-color: #2F241F;
    color: #E5F0B6;
    padding: 72px 142px;
}

.choose-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
}

.choose-title {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 40px;
}

.choose-icons {
    display: flex;
    justify-content: space-between;
}

.icon {
    display: flex;
    flex-direction: row;
}

.icon i {
    font-size: 17px;
    margin: auto 0;
    color: #F4F4F4;
    background: rgba(229, 240, 182, 0.5);
    padding: 10px;
    border-radius: 8px;
}

.icon p {
    margin: auto 16px;
    font-weight: 700;
}

.icon-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.icon-text {
    font-size: 24px;
    line-height: 1.5;
}

/* ----------PARTNER---------- */

.partner {
    padding: 80px 142px;
    background-color: #FCFAFA;
}

.partner-wrapper {
    display: flex;
    align-items: center;
}

.partner-left {
    flex: 1;
    justify-content: space-around;
}

.partner-left-top {
    display: flex;
    align-items: center;
}

.partner-title {
    font-size: 96px;
    font-weight: bold;
    margin-right: 20px;
}

.partner-brand-text {
    font-size: 24px;
    line-height: 1.5;
}

.partner-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 50%;
}

.partner-right img {
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 100px;
}

/* ----------RECOM---------- */

.recom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0;
}

.recom-left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.recom-left img {
    width: 100%;
    border-radius: 12px;
    margin-right: 24px;
}

.recom-right {
    flex: 1;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 70px;
}

.recom-category {
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 700;
    background-color: #FCFAFA;
}

.recom-category-title {
    font-weight: 400;
    margin-bottom: 32px;
}

.recom-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 32px;
}

.recom-categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 30px;
}

.recom-description {
    display: none;
    padding: 10px 15px;
    background-color: #E5F0B6;
}

.recom-description.show {
    display: block;
}

.recom-category.active {
    background-color: #E5F0B6;
}

.recom-category.active:hover {
    background-color: #E5F0B6;
    cursor: default;
}

/* ----------PRODUCT---------- */

.product {
    padding: 80px 143px;
    background-color: #2F241F;
    color: #E5F0B6;
}

.product h2 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 30px;
    text-align: left;
    color: #E5F0B6;
}

.product .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
}

.carousel-inner {
    display: flex;
    width: 100%;
}

.carousel-item {
    position: relative;
    margin-left: 36px;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

.carousel-item .caption {
    margin: 24px 36px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 14px;
    text-align: left;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item .caption p {
    font-size: 48px;
    font-weight: 400;
}

.carousel-item:hover .caption {
    opacity: 1;
}

.carousel-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}

.carousel-controls button {
    border-radius: 50%;
}



/* ----------NEWSLETTER---------- */

.newsletter {
    padding: 102px 142px;
    background-color: #FCFAFA;
    color: #2F241F;
}

.newsletter-text {
    font-size: 18px;
    text-align: left;
}

.newsletter-form {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.newsletter-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

.form-input {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding-left: 10px;
    width: 100%;
    max-width: 500px;
}

input[type="email"] {
    border: none;
    background-color: #FFFFFF;
    font-size: 16px;
    width: 100%;
    padding-right: 20px;
}

.bi-envelope {
    font-size: 24px;
    color: #2F241F;
    background-color: #E5F0B6;
    padding: 15px;
    margin-left: -40px;
    border-radius: 0 12px 12px 0;
}

/* ----------FOOTER---------- */

footer {
    background-color: #fff;
    color: #667085;
    padding: 90px 100px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.footer-left {
    flex-basis: 50%;
}

.logo-container {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

.footer-left p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.footer-left .desc {
    margin-bottom: 69px;
}

.footer-right {
    display: flex;
    flex-basis: 40%;
    justify-content: space-between;
}

.column h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
}

.column ul {
    list-style: none;
}

.column ul li {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
}

.column ul li a {
    color: #667085;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}